temp
wip
Engine/Temp
Engine/obj
Engine/Library
Engine/UnityPackageManager
Engine/Assets/**/*.meta
Engine/ProjectSettings/AudioManager.asset
Engine/ProjectSettings/ClusterInputManager.asset
Engine/ProjectSettings/DynamicsManager.asset
Engine/ProjectSettings/EditorBuildSettings.asset
Engine/ProjectSettings/InputManager.asset
Engine/ProjectSettings/NavMeshAreas.asset
Engine/ProjectSettings/NetworkManager.asset
Engine/ProjectSettings/Physics2DSettings.asset
Engine/ProjectSettings/TagManager.asset
Engine/ProjectSettings/TimeManager.asset
Engine/ProjectSettings/UnityConnectSettings.asset
Engine/Assembly-CSharp.csproj
Engine/Assembly-CSharp-Editor.csproj
Engine/Assembly-CSharp-Editor-firstpass.csproj
Engine/engine.sln
Engine/Debug.log
*__jb_*
*.generated.cs
*.generated.jslib

Engine/.vscode
Engine/.idea
Engine/Assets/Plugins/Editor/JetBrains
Engine/Assembly-CSharp-Editor.csproj.DotSettings

Engine/Assets/UnityStandardAssets
