body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #782010;
}

#Splash {
    background-image: url(/resources/images/background.jpg);
    background-size: cover;
    background-position: center;
}

#unityLogo {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

* {
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
    user-select: none;
}

#watermark {
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 9999;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-align: right;
    font-size: small;
    opacity: 0.2;
    white-space: pre;
}
